node_modules

packages/*/dist
packages/ci/cra
packages/ci/test

rollup.config.js
typings-local
typings

jest.config.js
jest.config.settings.js
jest.config.base.js

.babel.config.js
.eslintrc.js
.pnp*
.yarn